@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,900;1,700&display=swap');

*{
    box-sizing: border-box;
}

.hidden{
    display: none;
}

body{
    font-family: 'Muli', sans-serif;
    text-align: center;
}


div{
    padding: 10px;
}

ul{
    text-align: left;
    list-style: none;
}

button{
    padding: 5px 10px;
    max-height: 20px;
    
}

.section-title{
    width: 100%;
}

#cat-gif{
    height: 300px;
}


/* ROWS*/
section{
    display: flex;
    justify-content: space-around;
}




/* BOX ITEMS */

.box{
    border-style: dotted;
    width: 50%;
}

