@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,900;1,700&display=swap');

*{
    box-sizing: border-box;
}

.hidden{
    display: none;
}

body{
    font-family: 'Muli', sans-serif;
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.half-vw{
    margin: 0px 10px;
}

div{
    padding: 10px;
}

input[type='submit']{
    background-color: rgb(189, 189, 189);
}

input[type='text']{
    height: 30px;
    font-size: 1rem;
    padding-left: 5px;
}

button, #start-button, #add-button{
    padding: 5px 10px 5px 10px;
    max-height: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    background-color: rgb(189, 189, 189);
    margin: 5px;
}

.section-title{
    width: 100%;
}

#cat-gif{
    height: 300px;
}

#explanation{
    max-width: 600px;
    text-align: center;
}

/* LISTS */
ul{
    text-align: left;
    list-style: none;
    padding-left: 0;
    min-height: 150px;;
}

.completed-collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.task-item{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    border-top: 1px solid black;
    
}

.task-item p{
    grid-column-start: 1;
    grid-column-end: 2;
}

.task-item button{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.task-item a{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-time{
    width: 60px;
}



/* ROWS*/
section{
    display: flex;
    justify-content: space-around;
}




/* BOX ITEMS */

.box{
    border-style: dotted;
    width: 50%;
}

@media screen and (max-width: 780px){

}